

/ {
	model = "PJRC TEENSY 4.0 board";
	compatible = "nxp,mimxrt1062";

	chosen {
		zephyr,sram = &ocram;
		zephyr,itcm = &itcm;
		zephyr,dtcm = &dtcm;
		zephyr,console = &lpuart5; /* Teensy Pins 34(RX8) 35(TX8) */
		zephyr,can-primary = &flexcan1; /* Teensy Pins 23(CRX1) 22(CTX1) */
	};

	leds {
		compatible = "gpio-leds";
		board_led: led-1 {
			gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
			label = "User LED Pin 13";
		};

		button1: button_1 {
			gpios = <&gpio4 7 GPIO_PULL_UP>;
			label = "Hack for drdy.";
		};
	};

	aliases {
		led0 = &board_led;
		ndrdy = &button1;
	};

};

&lpuart5 {
	status = "okay";
	current-speed = < 460800 >;
};

// &enet {
//   status = "okay";
//   ptp {
//     status = "okay";
//   };
//   phy {
//     compatible = "ethernet-phy";
//     status = "okay";
//     no-reset;
//     late_mii_start;
//     address = <0>;
//     mdio = <&mdio>;
//   };
//   mdio: mdio {
//     status = "okay";
//   };
// };

teensy_spi1: &lpspi3 {
	status = "okay";
	cs-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>, <&gpio2 0 GPIO_ACTIVE_LOW>; /* TeensyPin0 */
  // pcs-sck-delay = < 60 >;
  // sck-pcs-delay = < 60 >;
  transfer-delay = < 60 >;

	wizenet@0 {
		status = "okay";
		compatible = "wiznet,w5500";
		reg = <0>;
		spi-max-frequency = <30000000>;
		int-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;	/* */
		reset-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>;	/* */
		label = "WIZ0";
	};

	ads131e08: spi-device@1 {
		status = "okay";
		compatible = "ti,ads131e08";
		reg = <1>;
		spi-max-frequency = <10000000>;
		// int-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;	/* PIO1_28 => PLU_IN3  */
		label = "EXT_ADC_0";
	};

};


&flexcan1 {
	status = "disabled";
};
&lpuart2 {
	status = "disabled";
};
&lpuart6 {
	status = "disabled";
};
