/*
 * Copyright (C) 2020, NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &eth_click;


// &flash0 {

// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;
// 		/* Please enable mcuboot's swap move, no scratch */

// 		boot_partition: partition@0 {
// 			label = "mcuboot";
// 			reg = <0x00000000 0x0000A000>;
// 			read-only;
// 		};
// 		slot0_partition: partition@A000 {
// 			label = "image-0";
// 			reg = <0x0000A000 0x00038000>;
// 		};
// 		slot1_partition: partition@42000 {
// 			label = "image-1";
// 			reg = <0x00042000 0x00038000>;
// 		};
// 		// slot2_partition: partition@48000 {
// 		// 	label = "image-2";
// 		// 	reg = <0x00048000 0x00028000>;
// 		// };
// 		// slot3_partition: partition@70000 {
// 		// 	label = "image-3";
// 		// 	reg = <0x00070000 0x00018000>;
// 		// };
// 		scratch_partition: partition@88000  {
// 			label = "image-scratch";
// 			reg = <0x00088000 0x00004000>;
// 		};
// 		/*
// 		 * The flash starting at 0x8C000 and ending at
// 		 * 0x949FF is reserved for the application.
// 		 */
// 		storage_partition: partition@8C000 {
// 			label = "storage";
// 			reg = <0x0008C000 0x00009400>;
// 		};
// 	};
// };


&peripheral {

	iap: flash-controller@34000 {
		flash0: flash@0 {
			compatible = "soc-nv-flash";
			label = "MCUX_FLASH";
			reg = <0x0 DT_SIZE_K(630)>;
			erase-block-size = <32768>;
			write-block-size = <512>;
		};

	};

	hs_lspi: spi@9f000 {
		compatible = "nxp,lpc-spi";
		/* Enabling cs-gpios below will allow using GPIO CS,
		 rather than Flexcomm SS */
		cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>,
			<&gpio1 1 GPIO_ACTIVE_LOW>,
			<&gpio1 12 GPIO_ACTIVE_LOW>,
			<&gpio1 26 GPIO_ACTIVE_LOW>;
		reg = <0x9f000 0x1000>;
		interrupts = <59 0>;
		clocks = <&syscon MCUX_HS_SPI_CLK>;
		label = "HS_LSPI";
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&mikrobus_spi {
	status = "okay";


    /* LPCXpresso55xxx boards all use SSEL1. */
	eth_click: eth_click@1 {
		compatible = "microchip,enc28j60";
		reg = <1>;
		local-mac-address = [01 01 01 01 02 03];
		/* Errata B7/1 specifies min 8Mhz, 20MHz max according to RM */
		spi-max-frequency = <10000000>;
		int-gpios = <&mikrobus_header 7 GPIO_ACTIVE_LOW>;	/* INT */
		// cs-gpios = <&mikrobus_header 2 GPIO_ACTIVE_LOW>;	/* CS */
		label = "ETH_CLICK";
	};
};
